<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crash.kit">


    <application>
        <activity android:name=".CrashLogActivity" />

        <!-- 崩溃存储文件-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">

            </meta-data>
        </provider>
    </application>
</manifest>